
@model ErkoSMS.ViewModels.CustomerViewModel
<div>
    <h3>Yeni Müşteri Ekle</h3>
    <hr />
    @using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "CreateCustomerForm", style = "width:300px" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Comment)
            @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CommunicationMethod)
            @Html.TextBoxFor(m => m.CommunicationMethod, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Condition)
            @Html.TextBoxFor(m => m.Condition, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ContactPerson)
            @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Country)
            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CountryCode)
            @Html.TextBoxFor(m => m.CountryCode, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Currency)
            @Html.TextBoxFor(m => m.Currency, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DiscountRate)
            @Html.TextBoxFor(m => m.DiscountRate, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FaxNumber)
            @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Manager)
            @Html.TextBoxFor(m => m.Manager, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ManagerEmail)
            @Html.TextBoxFor(m => m.ManagerEmail, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ManagerMobile)
            @Html.TextBoxFor(m => m.ManagerMobile, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ManagerTitle)
            @Html.TextBoxFor(m => m.ManagerTitle, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Owner)
            @Html.TextBoxFor(m => m.Owner, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OwnerMail)
            @Html.TextBoxFor(m => m.OwnerMail, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OwnerMobile)
            @Html.TextBoxFor(m => m.OwnerMobile, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode)
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Region)
            @Html.TextBoxFor(m => m.Region, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SalesRepresentative)
            @Html.TextBoxFor(m => m.SalesRepresentative, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TaxNumber)
            @Html.TextBoxFor(m => m.TaxNumber, new { @class = "form-control" })
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.TaxOffice)
            @Html.TextBoxFor(m => m.TaxOffice, new { @class = "form-control" })
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="Kaydet" />
    }

</div>

<script>

    $("#CreateCustomerForm").on("ajax-form:succeed", function (ev, data) {
        var tg = $(ev.currentTarget);
        closeParentVexModal(tg);
        $("#customerName").val(data.result.Name);
        $("#searchButton").click();
    });

</script>