
<div class="w3-sidebar w3-light-grey w3-bar-block">
    <p> @ViewBag.Role</p>
    <div style="padding:20px">
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, htmlAttributes: new { @class = "w3-bar-item w3-button leftMenu", data_nav = "Home Page" })
        @Html.ActionLink("About", "About", "Home", new { area = "" }, htmlAttributes: new { @class = "w3-bar-item w3-button leftMenu", data_nav = "About" })
        @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, htmlAttributes: new { @class = "w3-bar-item w3-button leftMenu", data_nav = "Contact" })
    </div>
</div>

<script>
    $(document).ready(function () {
        $("[data-nav='@ViewBag.SelectedMenu']").addClass("w3-green");
    });

</script>