@model ErkoSMS.ViewModels.UserViewModel

<div>
    <h3>Yeni Kullanıcı Oluştur</h3>
    <hr />
    @using (Html.BeginForm("CreateUser", "UserAdministration", FormMethod.Post, new { data_rcms_role = "ajax-form", data_ajax_form_autoclose = "succeed", style = "width:300px" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password" })
            <div class="input-group-btn">
                <span class="btn btn-default" id="revealButton" data-value="0" data-target="#password" data-reveal-text="Göster" data-hide-text="Gizle">Göster</span>
                <span class="btn btn-default" id="randomizeButton">Rastgele</span>
            </div>
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="Kaydet" />


    }

</div>

<script>
    $("#revealButton")
        .on("click",
            function (ev) {
                var target = $(ev.target);
                var value = !target.data("value");
                target.data("value", +value);
                if (value) {
                    $("#password").attr("type", "text");
                    target.text(target.data("hide-text"));
                } else {
                    $("#password").attr("type", "password");
                    target.text(target.data("reveal-text"));
                }
            });

    $("#randomizeButton")
        .on("click",
            function () {
                var input = "abcdefghijklmnopqrstuvwyxzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
                var chars = input[~~(Math.random() * 52)] + input[53 + ~~(Math.random() * (input.length - 53))];
                chars += [1, 2, 3, 4, 5, 6].map(function () { return input[~~(Math.random() * input.length)]; }).join('');

                $("#password").val(chars);

                $("#password").attr("type", "text");
                var rb = $("#revealButton");
                rb.data("value", 1);
                rb.text(rb.data("hide-text"));

                $("#password")[0].select();
            });
</script>