@{
    ViewBag.Title = "Yeni İthalatçı Girişi";
}


<h2>@ViewBag.Title</h2>
<hr style="margin: 10px 0;" />
@model ErkoSMS.ViewModels.ExporterViewModel



@using (Html.BeginForm("CreateExporter", "Exporter", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "CreateExporterForm" }))
{
    <div id="createExporterDiv" style="display:block">
        @Html.AntiForgeryToken()

        <div class="row mt-10">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Name)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.Name)
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Address)
            </div>
            <div class="col-md-3">
                @Html.TextAreaFor(x => x.Address)
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-md-4">
                @Html.LabelFor(x => x.TradeRegisterNo)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.TradeRegisterNo)
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-4">
                @Html.LabelFor(x => x.VatNo)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.VatNo)
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-4">
                @Html.LabelFor(x => x.PhoneNumber)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.PhoneNumber)
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-4">
                @Html.LabelFor(x => x.FaxNumber)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.FaxNumber)
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-2">
                <label>Banka Hesapları</label>
            </div>
            <div class="col-sm-2">
                <button type="button" id="addBankAccountButton" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Ekle
                </button>
            </div>
        </div>
        <div id="bankaccounts" style="max-width: 800px;padding: 10px" class="row">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="submit" class="mt-10 btn btn-primary pull-right" value="Kaydet" />
        </div>
    </div>
}

<script>


    var bankAccountRowTemplate = '@Html.Template("BankAccountRow", null)';
    var addOrderRow = function() {
        var html = $($.parseHTML(bankAccountRowTemplate));
        html.appendTo($("#bankaccounts"));
    };


    $("#addBankAccountButton").on('click', addOrderRow);

    $("#CreateExporterForm").off().on("click", ".bankAccountRowDeleteButton", function () {
        $(this).closest('.bankAccountRow').remove();
    });

    $("#CreateExporterForm").off.on('ajax-form:succeed',
        function () {
            vex.dialog.alert("İthalatçı kaydedildi.");
        });

</script>
