@using ErkoSMS.ViewModels
@{
    var order = (OrderViewModel)ViewBag.Order;
}

<div class="row" style="width: 1400px;margin-top:25px">
    <div class="col-xs-6" id="productListDiv" style="border-right: 2px solid lightgray;">
        <h2>Ürünler</h2>
        <table id="productTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Ürün Kodu</th>
                    <th>Açıklama TR</th>
                    <th>Toplam Miktar</th>
                    <th>Paketlenmemiş Miktar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in order.OrderLines)
                {
                    <tr>
                        <td>@product.ProductCode</td>
                        <td>@product.ProductDescription</td>
                        <td>@product.Quantity</td>
                        <td>@product.Quantity</td>
                        <td>
                            <span class="btn btn-info packOrderButton">
                                <span class="glyphicon glyphicon-arrow-right"></span> Paketle
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-xs-6" id="packingListDiv">
        <h2>Paketleme Listesi</h2>
        @using (Html.BeginForm("CreatePacking", "Packing", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "PackingListForm" }))
        {
            @Html.Hidden("OrderId", order.OrderId)
            <table id="packingList" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Palet No</th>
                        <th>Miktar</th>
                        <th>Kod</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary pull-right" value="Kaydet" />
        }
    </div>
</div>

<script>
    var currentProductCode;
    var maxQuantityToPack;
    $("#PackingListForm").on("ajax-form:succeed", function (ev, data) {
        var tg = $(ev.currentTarget);
        closeParentVexModal(tg);
        location.reload();
    });

    $("input[type=submit]").on("click",
        function (e) {
            var isThereAnUnpdackedProduct = $("#productTable tbody tr td:nth-child(4)").toArray().some(function (unpackedQuantityCell) {
                return $(unpackedQuantityCell).text() !== "0";
            });

            if (isThereAnUnpdackedProduct) {
                e.preventDefault();
            }
        });

    $(".packOrderButton").on("click",
        function (e) {
            e.preventDefault();
            var productRowToBePacked = $(this).closest('tr')[0];
            // Set current product code to the code of the selected product.
            currentProductCode = productRowToBePacked.cells[0].innerText;
            // Max quantity that can be packed to a pallet = amount of unpacked products for the given product.
            maxQuantityToPack = parseInt(productRowToBePacked.cells[3].innerText);

                ERKOSMS.GetAjaxDialog("PackProduct", {}, false).then(function () {
            }), function (data) {
                ERKOSMS.ShowWarning(data);
            }
        });

    $(document).off("click", "#addProductToPallet").on("click", "#addProductToPallet",
        function (e) {

            var palletId = $("#palletDropdown")[0].selectedOptions[0].value;
            var quantityOfProduct = parseInt($('#Quantity')[0].value);

            var targetPalletRow = FindPalletRowById(palletId);
            var targetProductRow = FindProductRowByCode(currentProductCode);
            // Lower the unpacked quantity of the product that was packed.
            var unpackedQuantity = parseInt(targetProductRow.find("td:nth-child(4)").text()) - quantityOfProduct;
            targetProductRow.find("td:nth-child(4)").text(unpackedQuantity);

            // Hide the pack product button if unpackedQuantity went down to zero.
            if (unpackedQuantity === 0) targetProductRow.find("td:nth-child(5)").hide();

            // Get the description of the product that was packed.
            var productDesc = targetProductRow.find("td:nth-child(2)").text();

            if (targetPalletRow) {
                // Already added pallet. Merge the common cells and add the new row.
                var numberOfRowForPallet = parseInt(targetPalletRow.find("td:first")[0].rowSpan);
                targetPalletRow.find("td:first")[0].rowSpan = `${numberOfRowForPallet + 1}`;

                targetPalletRow.after(
                    `<tr>
                        <td>${quantityOfProduct}<input type="text" class="hidden" value="${quantityOfProduct}" name="Pallets[].Products[${numberOfRowForPallet}].Quantity"></input></td>
                        <td>${currentProductCode}<input type="text" class="hidden" value="${currentProductCode}" name="Pallets[].Products[${numberOfRowForPallet}].ProductCode"</td>
                        <td>${productDesc}</td>
                        <td>
                         <span class="btn btn-danger deletePackedProductButton">
                            <span class="glyphicon glyphicon-remove"></span> iptal et
                         </span>
                    </td>
                    </tr>`);
            } else {
                // Add new row for the new pallet.
                $("#packingList tbody").append(
                 `<tr>
                    <td rowspan="1">${palletId}<input type="text" class="hidden" value="${palletId}" name="Pallets[].PalletId"></input></td>
                    <td>${quantityOfProduct}<input type="text" class="hidden" value="${quantityOfProduct}" name="Pallets[].Products[0].Quantity"></input></td>
                    <td>${currentProductCode}<input type="text" class="hidden" value="${currentProductCode}" name="Pallets[].Products[0].ProductCode"></input></td>
                    <td>${productDesc}</td>
                    <td>
                         <span class="btn btn-danger deletePackedProductButton">
                            <span class="glyphicon glyphicon-remove"></span> iptal et
                         </span>
                    </td>
                 </tr>`);
            }
            var tg = $(e.currentTarget);
            closeParentVexModal(tg);
        });

    var FindPalletRowById = function (id) {
        var row;
        $("#packingList tr").each(function () {
            if ($(this).find('td').eq(0).text() === id) {
                row = $(this);
                return false;
            }
        });
        return row;
    }

    var FindProductRowByCode = function (code) {
        var row;
        $("#productTable tr").each(function () {
            if ($(this).find('td').eq(0).text() === code) {
                row = $(this);
                return false;
            }
        });
        return row;
    }

    $(document).off("click", ".deletePackedProductButton").on("click", ".deletePackedProductButton", function () {
        var packedProductRowToBeRemoved = $(this).closest('tr')[0];
        var productCode = packedProductRowToBeRemoved.cells[packedProductRowToBeRemoved.cells.length - 3].innerText;
        var quantity = parseInt(packedProductRowToBeRemoved.cells[packedProductRowToBeRemoved.cells.length - 4].innerText);
        var targetProductRow = FindProductRowByCode(productCode);
        // Increase the unpacked quantity of the product that was canceled.
        var unpackedQuantity = parseInt(targetProductRow.find("td:nth-child(4)").text()) + quantity;
        targetProductRow.find("td:nth-child(4)").text(unpackedQuantity);

        // Show the pack product button if unpackedQuantity went up from zero.
        if (unpackedQuantity !== 0) targetProductRow.find("td:nth-child(5)").show();

        if (packedProductRowToBeRemoved.cells.length === 5 && $(packedProductRowToBeRemoved).next()[0] !== undefined && $(packedProductRowToBeRemoved).next()[0].cells.length !== 5) {
            $(packedProductRowToBeRemoved).next().prepend($(packedProductRowToBeRemoved.cells[0]));
        }
        if (packedProductRowToBeRemoved.cells.length !== 5) {
            var firstRowOfThePallet = $(packedProductRowToBeRemoved).prevAll().filter(function () {
                return this.cells.length === 5;
            }).first();

            var numberOfRowForPallet = parseInt(firstRowOfThePallet[0].cells[0].rowSpan);
            firstRowOfThePallet[0].cells[0].rowSpan = `${numberOfRowForPallet - 1}`;
        }

        packedProductRowToBeRemoved.remove();
    });
</script>
