
@model ErkoSMS.ViewModels.ProductViewModel
<div>
    <h3>Yeni Ürün Ekle</h3>
    <hr />
    @using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "CreateProductForm", style = "width:300px" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CrossReferenceCode)
            @Html.TextBoxFor(m => m.CrossReferenceCode, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EnglishDescription)
            @Html.TextBoxFor(m => m.EnglishDescription, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Group)
            @Html.TextBoxFor(m => m.Group, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Brand)
            @Html.TextBoxFor(m => m.Brand, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Model)
            @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastPrice)
            @Html.TextBoxFor(m => m.LastPrice, new { @class = "form-control" })
        </div>

        <input type="submit" class="btn btn-primary pull-right" value="Kaydet" />
    }

</div>

<script>
  
    $("#CreateProductForm").on("ajax-form:succeed", function (ev) {
        var tg = $(ev.currentTarget);
        closeParentVexModal(tg);
        location.reload()
       
    });

</script>