
@model ErkoSMS.ViewModels.OrderViewModel

@{
    var customers = (List<SelectListItem>)ViewBag.Customers;
    var salesState = (List<SelectListItem>)ViewBag.SaleStates;
    var currencies = (List<SelectListItem>)ViewBag.Currencies;
}

<div>
    <h3>Order Güncelle</h3>
    <hr />
    @using (Html.BeginForm("UpdateOrder", "Order", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "UpdateOrderForm", style = "width:1100px" }))
    {
        @Html.Hidden("OrderId", Model.OrderId)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-4">
                <label>Müşteri:</label>
                @Html.DropDownListFor(x => x.CustomerId, customers, new { id = "customerdropdown", @class = "chosen-select form-control" })
            </div>
            <div class="form-group col-md-4">
                <label>Durum:</label>
                @Html.EnumDropDownListFor(x => x.State, new { id = "statedropdown", @class = "chosen-select form-control", style = "width:auto" })
            </div>
            <div class="form-group col-md-1">
                <label>Kur:</label>
                @Html.EnumDropDownListFor(x => x.Currency, new { id = "currencydropdown", @class = "chosen-select form-control", style = "width:auto" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(x => x.InvoiceNumber)
                @Html.TextBoxFor(x => x.InvoiceNumber, new { @class = "chosen-select form-control", Name = "InvoiceNumber", id = "InvoiceTextBox", style = "display:inline-block" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.InvoiceDate)
                @Html.TextBoxFor(model => model.InvoiceDate, new { Name = "InvoiceDate", @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
            </div>
        </div><div class="orderRow" style="overflow: hidden;">
            <h4> Ürünler</h4>
            <hr style="margin: 10px 0;" />
            @if (Model.OrderLines.Any() == false)
            {
                <span> Satışa ekli bir ürün bulunmamaktadır</span>
            }

            @foreach (var orderLine in Model.OrderLines)
            {

                <div class="row form-group-sm" style="padding-top: 5px;">
                    <div class="col-md-2">
                        @Html.LabelFor(x => orderLine.ProductCode)
                        @Html.TextBoxFor(x => orderLine.ProductCode, new { @class = "form-control productCode", Name = "OrderLines[].ProductCode", @id = Guid.NewGuid(), style = "display:inline-block", @readonly = "true" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => orderLine.ProductDescription)
                        @Html.TextAreaFor(x => orderLine.ProductDescription, new { @class = "form-control productDescription", Name = "OrderLines[].ProductDescription", @readonly = "true" })
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(x => orderLine.UnitPrice)
                        @Html.TextBoxFor(x => orderLine.UnitPrice, new { @class = "form-control unitPrice", Name = "OrderLines[].UnitPrice", id = "UnitPriceTextBox", style = "display:inline-block", @readonly = "true" })
                    </div>

                    <div class="col-md-1">
                        @Html.LabelFor(x => orderLine.Quantity)
                        @Html.TextBoxFor(x => orderLine.Quantity, new { @class = "form-control quantity", Name = "OrderLines[].Quantity", id = "QuantityTextBox", style = "display:inline-block", @readonly = "true" })
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(x => orderLine.TotalPrice)
                        @Html.TextBoxFor(x => orderLine.TotalPrice, new { @class = "form-control totalPrice", Name = "OrderLines[].TotalPrice", id = "TotalPriceTextBox", style = "display:inline-block", @readonly = "true" })
                    </div>
                </div>
            }
        </div>
        <input type="submit" class="btn btn-primary pull-right" value="Güncelle" />
    }

</div>

<script>

    $('.datepicker').datepicker({ dateFormat: 'dd.mm.yy' }); //Initialise any date pickers
    $('#customerdropdown').select2({ placeholder: "Müşteri Seçin" });
    $('#currencydropdown').select2({ placeholder: "Kur Seçin" });
    $('#statedropdown').select2({ placeholder: "Durum Seçin" });

    $("#UpdateOrderForm").on("ajax-form:succeed", function (ev, data) {
        var tg = $(ev.currentTarget);
        closeParentVexModal(tg);
    });

</script>
