@{
    ViewBag.Title = "Yeni Tedarikçi Girişi";
}


<h2>@ViewBag.Title</h2>
<hr style="margin: 10px 0;" />
@model ErkoSMS.ViewModels.SupplierViewModel



@using (Html.BeginForm("CreateSupplier", "Supplier", FormMethod.Post, new { data_erkosms_role = "ajax-form", id = "CreateSupplierForm" }))
{
    <div id="createSupplierDiv" style="display:block">
        @Html.AntiForgeryToken()

        <div class="row mt-10">
            <div class="col-md-3">
                @Html.LabelFor(x => x.Name)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.Name)
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-3">
                @Html.LabelFor(x => x.Country)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.Country)
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-md-3">
                @Html.LabelFor(x => x.PhoneNumber)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.PhoneNumber)
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-3">
                @Html.LabelFor(x => x.Address)
            </div>
            <div class="col-md-3">
                @Html.TextAreaFor(x => x.Address)
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <input type="submit" class="btn btn-primary pull-right" value="Kaydet" />
            </div>
        </div>
    </div>
}

<script>
    $("#CreateSupplierForm").on('ajax-form:succeed', function () {
        vex.dialog.alert("Tedarikçi kaydedildi.");
    });

</script>
